@import "./complements/variables";

@import "./complements/global";

@import "./complements/footer";

h1 {
    font-family: 'Comfortaa', cursive;
}

/* HEADER */
header{
    background-image: linear-gradient(rgb(255, 179, 0), rgb(145, 112, 19), black, black );
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.fa-solid {
    display: none;
}

.grid__header{
    display: grid;
    grid-template-columns: 1fr 5fr 0.51fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "logo redes car"
        "logo nav car";
}

header li{
    display: flex;
    display: inline;
    margin: 5px;  
}

header nav{
    display:flex;
    justify-content: center;
}

.logo{
    width: 100%;
    grid-area: logo;
    
}

header div{
    display:flex;
    justify-content: center;
    align-items: center;
}

.logos__redes a{
    grid-area: redes;
    display: inline;
    margin: 0.5rem;
}

.car{
    width: 50%;
    color: blanchedalmond;
    grid-area: car;
    justify-self: center;
}
.red{
    width: 2.5%;
}

.logo__header{
    grid-area: logo;
    justify-content: last baseline;
}

.nav{
    grid-area: nav;
    
}

body{
    font-family: 'Lobster', cursive;
}

.nav__items{
    background-color: black;
    color: antiquewhite;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 10px;
    font-style: normal;
    list-style: none;
    padding: 5px;
    margin-left: 5px;

}

.img__integrantes{
    width: 200px;
    height: 400px;
    display: flex;
}

.datos{
    display:flex;
}

/* MAIN */
main{
    text-align: center;
}

.imagen__presentacion{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.parrafo__comun{
    text-align: justify;
    margin: 10px;
}

.subtitulo{
    background-color: $subtitulo__bgColor;
    text-align: start;
    margin: 10px;
}
.img2{
    display:none;
}
.img1{
    animation-name: cambioImagen;
    animation-duration: 3s;
    animation-iteration-count: 2;
    
}

@keyframes cambioImagen {
    from{
      opacity: 1;
    }
    to{
       opacity: 0;
    }
}


/* FOOTER */
// .footer{
//     display: flex;
//     flex-wrap: wrap;
//     background-color: black;
//     color: antiquewhite;
//     margin-left: 10px;
//     justify-content: space-between;
// }

// footer a{
//     display: inline;
//     color: antiquewhite;
//     text-decoration: none;
//     list-style: none;    
    
// }

// .footer__form{
//     display:flex;
//     justify-content: flex-start;
// }

// .footer__links{
//     display: flex;
//     justify-content:flex-end;
// }

/* PAGINA PRODUCTOS */

.grid__tarjetas{
    display:grid;
    gap: 0.5rem;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 500px);
    grid-template-areas: 
        "p1 p2 p3"
        "p4 p5 p6"
}

.productos pBufanda{
    grid-area: p1;
}

.productos pBuzo{
    grid-area: p2;
}

.productos pCombo{
    grid-area: p3;
}

.productos pRemera__mujer{
    grid-area: p4;
}
.productos{
    background-color:blanchedalmond;
    color: black;
    text-align: center;
    border-radius: 20px;
    width: 400px;
    height: 500px;
}

.imagen__producto{
    width: 65%;
    margin-top: 10px;
}

.productos img:hover{
    transform: scale(1.2);
}

.tarjeta__titulo{
    font-size: 25px;
    margin: 5px;
}

.tarjeta__párrafo{
    margin:10px;
}

.boton__producto{
    background-color: black;
    color: antiquewhite;
}


/* PAGINA CONTACTO */
.recuadro__form{
    background-color: blanchedalmond;
    
}

.legend{
    font-size: 20px;
    margin: 20px;
    
}

.tabla{
    background-color: blanchedalmond;
}

.canciones{
    text-decoration: none;
    list-style: none;
}

/* Vista Tablet */
@media screen and (max-width: 1024px) {
    
    .nav__items{
        background-color: black;
        color: antiquewhite;
        font-size: 1rem;
        text-decoration: none;
        border-radius: 10px;
        font-style: normal;
        list-style: none;

    }

    header nav{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    /* PAGINA PRODUCTOS */
   
    .grid__tarjetas{
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 500px);
        gap: 1rem;
    }
//     .footer{
//         flex-direction: column;
//         align-items: center;
//         justify-items: center;
//     }

//     .footer__form{
//         flex-direction: column;
//     }

//     .footer__links{
//         flex-direction: column;
//     }
// }

/* Vista Mobile */
@media screen and (max-width: 600px) {

    .grid__header{
        grid-template-columns: 0.5fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
            "menu logo1"
            "menu logo1"  
            
    }
    
    .logo__header{
        grid-area: logo1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        justify-self: end;
        align-self: center;
        
    }

    .menu__mobile{
        grid-area: menu;
    }

    .imagen__presentacion{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .nav{
        display: none;
    }
    
    .fa-solid {
        display: block;
        font-size: 32px;
        color:blanchedalmond;  
        justify-self: center;
        align-self:center;
              
    }

    .car {
        display: none;
    }
   

   /* PAGINA PRODUCTOS */

   .grid__tarjetas{
    grid-template-columns: 1fr;
    grid-template-rows: 500px 500px 500px 500px;
    }
    
    /* FOOTER */

    // .footer{
    //     flex-direction: column;
    //     align-items: center;
    //     justify-items: center;
    // }

    // .footer__form{
    //     flex-direction: column;
    // }

    // .footer__links{
    //     flex-direction: column;
    // }

    }}