.footer{
    background-image: $gradiente;
    color: antiquewhite;

}
.footer__links{
    color:antiquewhite;
    list-style: none;
    font-style: normal;
}
.footer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "col1 col2 col3";
    align-items: center;
    justify-items: center;
    
    
}
.footer__form{
    display:flex;
    grid-area: col1;
    justify-self: flex-end;    
}
.etiqueta{
    margin: 5px;
}
.footer__links{
    display:flex;
    grid-area: col2;
    
}

.mapa__sitio{
    display:flex;
    grid-area: col3;
    
}

.footer li a{
    list-style: none;
    text-decoration: none;
    color:blanchedalmond;
    list-style: none;
}

